apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "sftp-service.fullname" . }}
  labels:
    {{- include "sftp-service.labels" . | nindent 4 }}
data:
  LISTEN_ADDR: "0.0.0.0:2022"
  DATA_ROOT: {{ .Values.dataVolume.mountPath | quote }}
  HOST_KEY_PATH: "/keys/{{ .Values.hostKey.keyFileName }}"
  VAULT_ADDR: {{ .Values.vault.addr | quote }}
  VAULT_USERS_PREFIX: {{ .Values.vault.usersPrefix | quote }}
  DEFAULT_QUOTA_BYTES: {{ .Values.quotaDefaults.bytes | quote }}
  DEFAULT_QUOTA_FILES: {{ .Values.quotaDefaults.files | quote }}

  {{- if .Values.metrics.enabled }}
  METRICS_ADDR: "0.0.0.0:{{ .Values.metrics.port }}"
  METRICS_PATH: {{ .Values.metrics.path | quote }}
  {{- end }}

  {{- if .Values.vault.kubernetesAuth.enabled }}
  VAULT_K8S_AUTH_MOUNT: {{ .Values.vault.kubernetesAuth.mountPath | quote }}
  VAULT_K8S_ROLE: {{ .Values.vault.kubernetesAuth.role | quote }}
  {{- end }}

